body {
    font-family: Arial, sans-serif;
    background-color: #ffe5e5; /* Tom suave de vermelho claro */
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    color: #c72c3b; /* Tom de vermelho mais escuro para o título */
    margin: 20px 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Cartas flexíveis */
    grid-gap: 10px; /* Espaço entre cartas */
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 90vw;
    box-sizing: border-box;
}

.card {
    width: 50px;
    height: 70px; 
    background-color: #ff4d4d; /* Cor mais forte para cartas */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Efeito ao passar o mouse */
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}

.card.flipped img {
    display: block;
}

/* Estilo do placar */
#scoreboard {
    margin-top: 20px;
    font-size: 1.2em;
    color: #c72c3b; /* Vermelho mais escuro */
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffcccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#scoreboard p {
    margin: 0;
    padding: 10px;
    background-color: #c72c3b;
    color: #fff;
    border-radius: 5px;
}

/* Estilo da mensagem do ganhador */
#winner-message {
    margin-top: 20px;
    padding: 20px;
    background-color: #c72c3b;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reload-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reload-button:hover {
    background-color: #ff1a1a;
}
